dashboard-server.deldev.ovh {
  # Enable TLS and automatic HTTPS
  tls {
    on_demand
  }

  # Make sure Caddy handles ACME challenges before proxying
  handle /.well-known/acme-challenge/* {
    respond 200
  }

  # Then proxy everything else
  handle {
    reverse_proxy backend:3000
  }
}
